.h1-class-ext{

background-color: red;
font-size: 150%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
margin: 10px;
background-color:rgb(173, 233, 7);

}

.div-container{
    color: rgb(155, 228, 155);
    background-color: rgb(140, 209, 157);
    margin: 100px 100px;
    padding: 200px;
    width: 400%;


}
